<!-- Sidebar label templates -->
<ng-template #tplCars>{{ 'NAV_CARS' | transloco }}</ng-template>
<ng-template #tplOrders>{{ 'NAV_MY_ORDERS' | transloco }}</ng-template>
<ng-template #tplInstallments>{{ 'NAV_INSTALLMENTS' | transloco }}</ng-template>
<ng-template #tplLogout>{{ 'SIDEBAR_LOGOUT' | transloco }}</ng-template>

<div class="flex h-screen bg-background overflow-hidden">
  <!-- Sidebar -->
  <lib-sidebar
    [items]="sidebarItems()"
    [footerItems]="footerItems()"
    [showTheme]="true"
    [showCollapse]="true"
    [labelDarkMode]="'SIDEBAR_DARK_MODE' | transloco"
    [labelLightMode]="'SIDEBAR_LIGHT_MODE' | transloco"
    [labelCollapse]="'SIDEBAR_COLLAPSE' | transloco"
    (handleAction)="handleAction($event)"
  />

  <!-- Main area -->
  <div class="flex flex-1 flex-col min-w-0 overflow-hidden">
    <!-- Navbar -->
    <lib-navbar [user]="navbarUser()" [showTheme]="false" [showLang]="false">
      <app-language-switcher slot="actions" />
    </lib-navbar>

    <!-- Page content -->
    <main class="flex-1 overflow-y-auto p-6">
      <router-outlet />
    </main>
  </div>
</div>

<!-- Modal outlet -->
<lib-modal [modal]="modalService.config()" />
